<div>
  <h1>New business</h1>
</div>
<%= render 'form' %>
<div class="fl">
  <ul id="package_list">
  <% for package in @packages%>
  <li data-section-id="<%= package.id%>"> <%=package[:PackageName]%> </li>
  <% end%>
  </ul>
  <input type="hidden">
</div>
<div class="fl list_fixer">
  <% for package in @packages%>
  <div class="">
    <%= render :partial=>"business_list", :locals=>{:businesses=>package.dgbiz}%>

  </div>
  <% end%>
</div>

<script type="text/javascript">
$(document).ready(function() {
  add_list_feature("#package_list li");
})
</script>