<div id="lftnav">
  <%for fg in @function_groups%>
  <% next if fg.dgfunctions.empty?%>
  <h3><a href="#"><%= fg[:GroupName]%></a></h3>
  <ul>
    <%for f in fg.dgfunctions%>
      <li><%if f[:LocateName]=~/District/%>
             <a href="/fixer/list/district"> <%= f[:Name]%> </a>
          <%else%>
             <a> <%= f[:Name]%> </a>
          <%end%>
      </li>
    <%end%>
  </ul>
  
  <%end%>
</div>
<script>
  $(function() {
    $( "#lftnav" ).accordion();
  });
</script>