<div id="lftnav">
  <%for fg in @function_groups%>
  <h3><a href="#"><%= fg[:GroupName]%></a></h3>
  <ul>
    <%for f in fg.dgfunctions%>
      <% aclass = ( f==@function ? "select": "" ) %>
      <li>
        <%= link_to f[:Name], "#{f[:LocateName]}?function_id=#{f.id}", :class=>aclass %>
      </li>
    <%end%>
  </ul>
  
  <%end%>
</div>
<script>
  $(function() {
    $( "#lftnav" ).accordion({ active: <%=@active_function_index%> });
  });
</script>